/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0px;
    border-radius: 2px;
}


body {
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 0.1s, color 0.3s;
    font-family: 'Inter', sans-serif;
}

.dark-mode .patternlock {
    background: rgb(223, 223, 223);
    color: #121212;
}

.dark-mode svg.patternlock g.lock-dots circle {
    fill: black;
}

/* Main Container */
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(39, 39, 39, 0.3);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 12px 12px rgba(200, 200, 200, 0.3);
    justify-self: center;
    align-items: center;
    width: 66vw;
    height: 24rem;
}

.patternlock {
    color: white;
}

h1#test.patternlock {
    width: 50%;
}

.test {

    text-align: center;

    margin-top: 5%;
    font-size: 0.6em;
}

h1 {
    padding-top: 50px;
    text-align: center;
    align-content: center;
    height: 15vh;
    font-size: 2rem;
}

/* Lock Area */
#lock {
    width: 100%;
    height: calc(100% - 15vh - 80px);
    min-height: 50px;
}



@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: 93vh;
        width: 93vw;
    }

    h1 {

        height: auto;
        margin-bottom: 10px;
        font-size: 2rem;
    }

    #lock {
        align-self: center;
        width: 80vw;
        height: 80vw;
    }
}

@media screen and (min-width: 769px) {
    .container {
        flex-direction: row;
        align-items: center;
        height: 30rem;
        width: 66vw;
    }

    h1 {
        padding-top: 0px;
        height: 15vh;
        font-size: 2rem;
    }

    .grid {
        flex-direction: column;
    }

    #lock {
        width: 100%;
        height: calc(100% - 15vh - 80px);
    }
}

/* Pattern Lock SVG */
svg.patternlock g.lock-lines line {
    stroke-width: 1.5;
    stroke: black;
    opacity: 0.5;
}

svg.patternlock g.lock-dots circle {
    stroke: transparent;
    fill: rgb(255, 255, 255);
    stroke-width: 13.5;
}

svg.patternlock g.lock-actives circle {
    fill: black;
    opacity: .2;
    animation: lock-activate-dot .15s 0s ease 1;
    transform-origin: center;
}

svg.patternlock g.lock-lines line {
    stroke-width: 1.5;
    stroke-linecap: round;
}

/* Success/Error Indicators */
svg.patternlock.success g.lock-actives circle {
    stroke: rgb(0, 255, 0);
    fill: green;
}

svg.patternlock.error g.lock-actives circle {
    stroke: red;
    fill: rgb(160, 0, 0);
}

/* Pattern Lock Animation */
@keyframes lock-activate-dot {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

/* To hide the checkbox */
#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    bottom: 20px;

    right: 20px;

    width: 50px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
    z-index: 1000;
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: rgb(79, 79, 79);
    transition-duration: .3s;
}